/* normalize */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
/* base */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  background-repeat: no-repeat;
  -webkit-transition: 223ms ease-in-out;
  -o-transition: 223ms ease-in-out;
  transition: 223ms ease-in-out;
}
a {
  display: block;
  text-decoration: none;
  outline: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
ul,
ol {
  list-style: none;
}
/* custom stylesheet */
.wrapper {
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  background-color: initial;
}
.header {
  background-color: #000000;
  color: #fff;
}
.heading {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  margin: 0 auto;
  padding: 12px 0 8px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow-x: hidden;
}
.heading__title {
  font-weight: 500;
  color: #ffb800;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
}
.heading__divider {
  position: relative;
  margin: 0 12px 0 10px;
}
.heading__divider::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 30px;
  background-color: #fff;
  top: -16px;
}
.heading__description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
}
.heading__description sup {
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  text-align: left;
}
.main {
  max-width: 300px;
  margin: 0 auto 100px;
  width: 100%;
}
.product__title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  padding: 52px 0 0;
}
.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  gap: 30px;
  margin: 102px 0 0 0;
}
.product__list-item {
  position: relative;
  background-color: #f3f5f6;
  width: 360px;
  height: 220px;
  margin: 0 0 50px 0;
}
.item_amount {
  position: absolute;
  content: '';
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  width: 240px;
  height: 100px;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  left: 50%;
  top: -50%;
}
.item_amount_best {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: capitalize;
  color: #2b2929;
  background-color: #ffb800;
  width: 80px;
  padding: 2px 0;
}
.item_amount_discount {
  position: absolute;
  content: '';
  top: -14px;
  left: -14px;
}
.item_price {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  padding: 30px 0 0;
}
.item_price_description {
  font-size: 18px;
}
.item_price_no_discount {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 0;
  text-align: center;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: #929292;
}
.item_heading {
  position: absolute;
  content: '';
  bottom: 50%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}
.item_heading_name {
  font-weight: 300;
  font-size: 18px;
  white-space: nowrap;
}
.item_heading_decsription {
  font-weight: 600;
  margin: 0 0 30px 0;
}
.item_heading_button {
  height: 50px;
  width: 190px;
  border-radius: 25px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(-0.01%, #130999),
    color-stop(35.01%, #174d8f),
    color-stop(64.91%, #1a7f87),
    color-stop(87.44%, #1c9e83),
    color-stop(99.99%, #1daa81)
  );
  background: -o-linear-gradient(
    bottom,
    #130999 -0.01%,
    #174d8f 35.01%,
    #1a7f87 64.91%,
    #1c9e83 87.44%,
    #1daa81 99.99%
  );
  background: linear-gradient(
    0deg,
    #130999 -0.01%,
    #174d8f 35.01%,
    #1a7f87 64.91%,
    #1c9e83 87.44%,
    #1daa81 99.99%
  );
  -webkit-transition: 223ms ease-in-out;
  -o-transition: 223ms ease-in-out;
  transition: 223ms ease-in-out;
}
.item_heading_button:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item_heading_button_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 10px 0;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  padding: 8px 0 10px;
}
.footer__content {
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
.footer__content_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffb800;
}
.footer__content_description {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
}
.arrow {
  position: fixed;
  opacity: 0;
  display: inline-block;
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
  -webkit-animation-duration: 223ms;
  animation-duration: 223ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes arrowUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(195px);
    transform: translateY(195px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes arrowUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(195px);
    transform: translateY(195px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes arrowDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-195px);
    transform: translateY(-195px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes arrowDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-195px);
    transform: translateY(-195px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (min-width: 375px) {
  .heading {
    max-width: 340px;
  }
  .heading__title,
  .heading__description,
  .footer__content_title {
    font-size: 21px;
  }
  .main {
    max-width: 340px;
  }
  .footer__content {
    max-width: 340px;
  }
}
@media (min-width: 425px) {
  .heading {
    max-width: 380px;
  }
  .main {
    max-width: 380px;
  }
  .footer__content {
    max-width: 380px;
  }
}
@media (min-width: 768px) {
  .heading {
    max-width: 600px;
  }
  .main {
    max-width: 600px;
  }
  .footer__content {
    max-width: 600px;
  }
}
@media (min-width: 1024px) {
  .heading {
    max-width: 800px;
  }
  .main {
    max-width: 800px;
  }
  .product__title {
    padding: 102px 0 0;
  }
  .product__list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .footer__content {
    max-width: 800px;
  }
}
@media (min-width: 1440px) {
  .heading {
    max-width: 1140px;
  }
  .main {
    max-width: 1140px;
  }
  .product__title {
    padding: 152px 0 0;
  }
  .product__list {
    margin: 152px 0 0 0;
  }
  .product__list-item {
    margin: 0;
  }
  .footer__content {
    max-width: 1140px;
  }
}
